.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.background {
  text-decoration: none;
}

.inputField {
  width: 20%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.inputField:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

button {
  border-radius: 10px;
  font-size: 20px;
  padding: 5px 20px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.results ul li {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}

.results ul li .name {
  display: block;
  text-align: center;
  width: 200px;
}
